<template name="postPageItem">
  <div class="row-fluid">
    <div class="post">
    	<div class="poster span3"><img src="{{poster}}"></div>
      <div class="post-content span9">
        <h3>{{title}}</h3>
        <p>Post by: {{author}}</p>
        <p>Director: {{director}}</p>
        <p>Year: {{year}}</p>
        <p>Country:
        {{#each country}}
        <a href="#">{{this}}</a>
        {{/each}}
        </p>
        <p>Genre:
        {{#each genre}}
        <a href="#">{{this}}</a>
        {{/each}}
        </p>
        <p>IMDb: {{imdb}}</p>
        <br>
        <p>{{description}}</p>
        <p><a href="#" class="upvote btn {{upvotedClass}}">⬆</a> {{votes}} votes</p>
        {{#if ownPost}}<a class="btn btn-warning" href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
      </div>
    </div>
  </div>
</template>