<template name="postItem">
  <div class="post span3 {{indexInRow}}" {{attributes}}>
  	<div class="poster"><a href="{{pathFor 'postPage'}}"><img src="{{poster}}"></a></div>
    <div class="post-content">
      <h3><a href="{{pathFor 'postPage'}}">{{title}}</a></h3>
      <p>Post by: {{author}}</p>
      <p><a href="{{pathFor 'postPage'}}">{{pluralize commentsCount "comment"}}</a></p>
      <div class="votes"><a href="#" class="upvote btn {{upvotedClass}}">⬆</a> {{pluralize votes "Vote"}}</div>
      <div class="clearfix"></div>
      <p>Director: {{director}}</p>
      <p>Year: {{year}}</p>
      <p>Country:
      {{#each country}}
      <a href="#">{{this}}</a>
      {{/each}}
      </p>
      <p>Genre:
      {{#each genre}}
      <a href="#">{{this}}</a>
      {{/each}}
      </p>
      <p>IMDb: {{imdb}}</p>
      <br>
      <p>{{description}}</p>
      <a href="{{pathFor 'postPage'}}" class="btn btn-success">More</a>
      {{#if ownPost}}<a class="btn btn-warning" href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
    </div>
  </div>
</template>